@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - RestleGuess</title>
    <link rel="stylesheet" href="~/css/login.css" />

    <style>
        body {
            height: 100vh;
            margin: 0;
            overflow: hidden;
        }
    </style>

</head>

<body>



    <main class="container-login">
        <header class="title-login">
            <h1>Welcome to RestleGuess</h1>
        </header>

        <form class="form-login" asp-action="Entrar" asp-controller="Login" method="post">

            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" placeholder="email@email.com" required>

            <label for="senha">Password</label>
            <input type="password" id="senha" name="senha" placeholder="*********" required>

            <a href="~/Redefinir/Index" class="link-esqueci">Forgot your password?</a>

            <button type="submit" class="botao-login">Login</button>
            <a href="~/Cadastro/Index">Register</a>

            <p class="erro-login @(ViewBag.Erro != null ? "mostrar" : "")">
                @ViewBag.Erro
            </p>
        </form>
    </main>



</body>

</html>