@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    color: #AF9A3F;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(~/../../assets/Background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-login {
    font-size: 2rem;
}

.forms {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.forms input {
    margin: 1%;
    width: 250%;
    height: 5%;
    border: 2px solid #AF9A3F;
    border-radius: 10px 10px 0px 0px;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0); /* Deixa o fundo do input transparente */
}

.forms input::placeholder {
    color: #AF9A3F;
    font-size: 1.3rem;
}

.forms label {
    font-size: 1.7rem;
    margin-right: 200%;
    white-space: nowrap;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.link-forgot {
    color: #AF9A3F;
    text-decoration: none;
    white-space: nowrap;
    margin-right: 185%;
}

.button-login {
    margin-top: 20%;
    font-size: 1.5rem;
    width: 250px;
    height: 55px;
    border: 2px solid #AF9A3F;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
}

.link-register {
    color: #FFFFFF;
    margin-top: 13%;
    text-decoration: none;
}

.link-forgot:hover {
    color: #FFFFFF;
}

.button-login:hover {
    background-color: #AF9A3F80;
    /* O 80 no final representa 50 em hexadecimal, e serve para regular a opacidade*/
}

.link-register:hover {
    color: #AF9A3F;
}

@media (max-width: 800px) {
    .container-login {
        margin-top: 5%;
    }

    .title-login {
        font-size: 1.5rem;
    }
}

@media (max-width: 460px) {
    .container-login {
        margin-top: 10%;
    }
    
    .forms input {
        width: 250%;
    }
    
    .forms label {
        margin-right: 180%;
    }

    .link-forgot {
        margin-right: 145%;
    }

    .button-login {
        width: 100%;
    }
}

@media (max-width: 410px) {
    .container-login {
        margin-top: 10%;
    }

    .title-login {
        font-size: 1rem;
    }

    .forms input {
        width: 200%;
    }
    
    .forms label {
        margin-right: 170%;
        font-size: 1rem;
    }

    .link-forgot {
        margin-right: 135%;
        font-size: 0.7rem;
    }

    .button-login {
        margin-top: 10%;
        width: 90%;
        height: 10%;
        font-size: 1.5rem;
    }
}