@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    color: #AF9A3F;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(~/../../assets/Background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-login {
    font-size: 2rem;
}

.form-login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.forms input {
    display: flex;
    margin: 5px;
    width: 700px;
    height: 50px;
    border: 2px solid #AF9A3F;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    background-color: rgba(0,0,0,0); /* Deixa o fundo do input transparente */
}

.forms input::placeholder {
    color: #AF9A3F;
    font-size: 1.5rem;
}

.forms label {
    font-size: 1.5rem;
    margin-left: 1%;
}

.link-forgot {
    color: #AF9A3F;
    text-decoration: none;
    margin-right: 75%;
}

.button-login {
    margin-top: 40px;
    font-size: 1.5rem;
    width: 200px;
    height: 55px;
    border: 2px solid #AF9A3F;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    background-color: rgba(0,0,0,0);
}

.link-register {
    color: #FFFFFF;
    margin-top: 40px;
    text-decoration: none;
}

.link-forgot:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

 .button-login:hover {
    background-color: #AF9A3F80; /* O 80 no final representa 50 em hexadecimal, e serve para regular a opacidade*/
 }

 .link-register:hover {
    color: #AF9A3F;
    text-decoration: underline;
 }